@page "/game-online/{SessionId}"
@attribute [Authorize]
@using System.Net.Http.Headers
@using Client.Components.Menu
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using Shared.GameSessionDtos
@using Shared.GameStateDtos
@using Client.Components.Game
@using Shared.GameDtos
@using Domain
@attribute [Authorize]
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager Navigation

<div class="container mt-4">
    @if (GameSession.GameState.Win == 3)
    {
        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
            <h1 class="mb-3">It's a draw</h1>
            <button class="btn btn-primary" @onclick="HandleOpenSaveModal">
                Save and back to Menu
            </button>
        </div>
    }
    else if (GameSession.GameState.Win == 1 || GameSession.GameState.Win == 2)
    {
        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
            <h1>Player @GameSession.GameState.Win wins!</h1>
            <button class="btn btn-primary" @onclick="HandleOpenSaveModal">
                Save and back to Menu
            </button>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12 col-lg-8">
                @if (!GameStarted)
                {
                    <div id="waiting-screen">
                        <h1>Waiting for a player to join...</h1>
                        <p id="waiting-message">Send id below to a player</p>
                        <p><strong>@SessionId</strong></p>
                    </div>
                }
                else
                {
                    <div id="game-screen">
                        <div id="message-container" class="mb-3">
                            <b class="handler-text">Player @GameSession.GameState.PlayerNumber is thinking</b>
                        </div>

                        <GameBoard GameState="@GameSession.GameState"
                                   GameConfig="@GameSession.GameConfiguration"
                                   ShowMovementOptions="GameSession.GameState.Player1Abilities || GameSession.GameState.Player2Abilities"
                                   OnCellClick="HandlePlaceChip"
                                   OnMoveBoard="HandleMoveBoard"
                                   OnMoveChip="HandleMoveChip"
                                   />
                    </div>
                }
            </div>

            <div class="col-12 col-lg-4 mt-5">
                <GameInfo
                    GameConfig="@GameSession.GameConfiguration"
                    GameState="@GameSession.GameState"
                    OnOpenSaveModal="HandleOpenSaveModal"
                />
            </div>
        </div>
    }
</div>

@if (showSaveModal)
{
<div class="modal show d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Would you like to give a name for save?</h5>
                <button type="button" class="btn-close" @onclick="HandleCloseSaveModal"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" @bind="SaveName" placeholder="Type name..." />
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" @onclick="SaveGame">Continue</button>
            </div>
        </div>
    </div>
</div>
}
@code {
    [Parameter] public string SessionId { get; set; }
    
    private GameSessionDto GameSession;
    private ElementReference BoardElement;
    private HubConnection HubConnection;
    private bool GameStarted = false;
    private bool showSaveModal = false;
    private string SaveName = string.Empty;
    private string UserId = string.Empty;
    private int UserNumber = 0;
    private DotNetObjectReference<GameOnline> DotNetRef;

    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsync<string>("accessToken");

        if (token != null)
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }
        
        GameSession = await Http.GetFromJsonAsync<GameSessionDto>($"http://localhost:5192/api/game-sessions/{SessionId}");
        
        DotNetRef = DotNetObjectReference.Create(this);
        UserId = await localStorage.GetItemAsync<string>("accessToken");
        
        await InitializeSignalR();
    }

    private async Task InitializeSignalR()
    {
        var token = await localStorage.GetItemAsync<string>("accessToken");

        HubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5192/gameHub", options =>
            {
                options.AccessTokenProvider = async () => await localStorage.GetItemAsync<string>("accessToken");
            })
            .WithAutomaticReconnect()
            .Build();

        HubConnection.On<string>("Error", message =>
            JSRuntime.InvokeVoidAsync("alert", message));

        HubConnection.On<string>("PlayerJoined", playerId =>
            JSRuntime.InvokeVoidAsync("updateWaitingMessage", "You have joined. Now waiting for other player"));

        HubConnection.On<GameStateDto>("GameStarted", async state =>
            await HandleGameStarted(state));

        HubConnection.On<GameStateDto>("GameStateUpdated", async state =>
            await UpdateGameState(state));

        await HubConnection.StartAsync();
        await HubConnection.InvokeAsync("JoinGame", SessionId, UserId);
    }


    [JSInvokable]
    public async Task HandleGameStarted(GameStateDto state)
    {
        GameSession.GameState = state;
        GameStarted = true;
        UserNumber = state.PlayerNumber;
        StateHasChanged();
    }

    [JSInvokable]
    public async Task UpdateGameState(GameStateDto state)
    {
        GameSession.GameState = state;
        StateHasChanged();
    }

    private async Task HandlePlaceChip(PlaceChipRequest request)
    {
        if (GameSession.GameState.Win > 0) return;

        await HubConnection.InvokeAsync("PlaceChip", SessionId, UserId, request);
    }

    private async Task HandleMoveBoard(MoveBoardRequest request)
    {
        await HubConnection.InvokeAsync("MoveBoard", SessionId, UserId, request);
    }
    
    private async Task HandleMoveChip(MoveChipRequest request)
    {
        await HubConnection.InvokeAsync("MoveBoard", SessionId, UserId, request);
    }

    private void HandleOpenSaveModal() => showSaveModal = true;
    private void HandleCloseSaveModal() => showSaveModal = false;

    private async Task SaveGame()
    {
        var token = await localStorage.GetItemAsync<string>("accessToken");

        if (token != null)
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }
        
        await Http.PostAsJsonAsync($"http://localhost:5192/api/game-sessions/{SessionId}/name", new RenameDto() { Name = SaveName });
        Navigation.NavigateTo("/");
    }

    public async ValueTask DisposeAsync()
    {
        if (HubConnection != null)
        {
            await HubConnection.DisposeAsync();
        }
        DotNetRef?.Dispose();
    }
}