@page
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.Game


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="SaveName">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Would you like to give a name for save?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="gameId" value="@Model.StateId">
                    <input type="text" name="name" class="form-control" placeholder="Type here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        @if (Model.GameBrain.win == 3)
        {
            <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                <h1 class="mb-3">It's a draw</h1>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Save and back to Menu
                </button>
            </div>
        }
        else if (Model.GameBrain.win == 1 || Model.GameBrain.win == 2)
        {
            <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                <h1>Player @Model.GameBrain.win wins!</h1>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Save and back to Menu
                </button>
            </div>
        }
        else
        {
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div id="message-container" class="mb-3">
                    <b class="handler-text">Player @Model.GameBrain.playerNumber is thinking</b>
                </div>

                <div class="d-flex flex-wrap board" style="width:@(Model.GameBrain.boardWidth * 80)px; position: relative;">

                    @for (int i = 0; i < Model.GameBrain.boardHeight; i++)
                    {
                        for (int j = 0; j < Model.GameBrain.boardWidth; j++)
                        {
                            bool isInsideMovableGrid = i >= Model.GameBrain.gridY && i < Model.GameBrain.gridY + Model.GameBrain.movableBoardHeight &&
                                                       j >= Model.GameBrain.gridX && j < Model.GameBrain.gridX + Model.GameBrain.movableBoardWidth;

                            <button type="button"
                                    class="btn btn-outline-primary border game-cell"
                                    style="width: 80px; height: 80px; font-size: 24px;"
                                    data-x="@i"
                                    data-y="@j"
                                    data-number="@Model.GameBrain.board[i, j]"
                                    id="piece-@i-@j"
                                    @(isInsideMovableGrid ? "" : "disabled")
                                    onclick="handleCellClick(@i, @j, this)">
                                @if (Model.ConvertToList(Model.GameBrain.board)[i][j] == 1)
                                {
                                    @:X
                                }
                                else if (Model.ConvertToList(Model.GameBrain.board)[i][j] == 2)
                                {
                                    @:O
                                }
                            </button>
                        }
                    }

                    <div class="movable-grid"
                         style="width: @(Model.GameBrain.movableBoardWidth * 80)px;
                             height: @(Model.GameBrain.movableBoardHeight * 80)px;
                             border: 3px solid red;
                             position: absolute;
                             pointer-events: none;
                             left: @(Model.GameBrain.gridX * 80)px;
                             top: @(Model.GameBrain.gridY * 80)px;
                    ">
                    </div>


                    @if (Model.GameBrain.player1Options || Model.GameBrain.player2Options)
                    {
                    <button class="move-btn btn btn-outline-primary border move-up" data-direction="up" onclick="handleMoveBoard('up')"><i class="fa-regular fa-regular fa-arrow-up"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-left" data-direction="left" onclick="handleMoveBoard('left')"><i class="fa-regular fa-arrow-left"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-right" data-direction="right" onclick="handleMoveBoard('right')"><i class="fa-regular fa-arrow-right"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-down" data-direction="down" onclick="handleMoveBoard('down')"><i class="fa-regular fa-arrow-down"></i></button>

                    <button class="move-btn btn btn-outline-primary border move-up-left" data-direction="up-left" onclick="handleMoveBoard('up-left')"><i class="fa-regular fa-arrow-up-left"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-up-right" data-direction="up-right" onclick="handleMoveBoard('up-right')"><i class="fa-regular fa-arrow-up-right"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-down-left" data-direction="down-left" onclick="handleMoveBoard('down-left')"><i class="fa-regular fa-arrow-down-left"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-down-right" data-direction="down-right" onclick="handleMoveBoard('down-right')"><i class="fa-regular fa-arrow-down-right"></i></button>
                    }
                    else
                    {
                    <button class="move-btn btn btn-outline-primary border move-up" data-direction="up" onclick="handleMoveBoard('up')" disabled><i class="fa-regular fa-regular fa-arrow-up"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-left" data-direction="left" onclick="handleMoveBoard('left')" disabled><i class="fa-regular fa-arrow-left"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-right" data-direction="right" onclick="handleMoveBoard('right')" disabled><i class="fa-regular fa-arrow-right"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-down" data-direction="down" onclick="handleMoveBoard('down')" disabled><i class="fa-regular fa-arrow-down"></i></button>

                    <button class="move-btn btn btn-outline-primary border move-up-left" data-direction="up-left" onclick="handleMoveBoard('up-left')" disabled><i class="fa-regular fa-arrow-up-left"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-up-right" data-direction="up-right" onclick="handleMoveBoard('up-right')" disabled><i class="fa-regular fa-arrow-up-right"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-down-left" data-direction="down-left" onclick="handleMoveBoard('down-left')" disabled><i class="fa-regular fa-arrow-down-left"></i></button>
                    <button class="move-btn btn btn-outline-primary border move-down-right" data-direction="down-right" onclick="handleMoveBoard('down-right')" disabled><i class="fa-regular fa-arrow-down-right"></i></button>
                    }

                </div>
                
            </div>
            
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <button type="button" class="btn btn-primary mb-2 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Save and back to Menu
                </button>
                
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <b>Rules & Guide</b>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The goal is to score @Model.GameBrain.WinCondition chips in a row
                                <br>
                                Both players have @Model.GameBrain.gameConfig.ChipsCount[1] chips to make this
                                <br>
                                You can place/move chips only in grid @Model.GameBrain.movableBoardWidth x @Model.GameBrain.movableBoardHeight (it's bordered by red line)
                                <br>
                                To move board or your chip you have to place @Model.GameBrain.gameConfig.OptionsAfterNMoves chips firstly
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        const gameId = '@Model.StateId';
        const movableGrid = document.querySelector(".movable-grid");
        const handlerText = document.querySelector('.handler-text');
        const cells = document.querySelectorAll('.game-cell');
        const moveButtons = document.querySelectorAll(".move-btn");
        let playerNumber = @Model.GameBrain.playerNumber;
        let player1Options = false;
        let player2Options = false;
        let movingChip = false;
        let chipPosition = [0, 0]

        async function fetchWithHandler(url, body) {
            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(body)
                });
                if (!response.ok) throw new Error(`Error ${response.status}: ${response.statusText}`);
                const data = await response.json()
                playerNumber = data.playerNumber;
                player1Options = data.player1Options;
                player2Options = data.player2Options;
                showOptions(data.player1Options, data.player2Options);
                if (data.message) {
                    handlerText.innerText = data.message;
                }
                checkForWin(data.win)
                return data;
            } catch (error) {
                console.error('Fetch error:', error);
                alert("Something went wrong, please try again.");
            }
        }

        async function handleCellClick(x, y, buttonElement) {
            const number = +buttonElement.dataset.number

            console.log(buttonElement)
            console.log(number)
            console.log(playerNumber)

            if (number === playerNumber && (player1Options || player2Options)) {
                movingChip = true;
                chipPosition = [x, y]
                buttonElement.dataset.number = 0
                handlerText.innerText = "Move chip somewhere"
            } else if (movingChip){
                const data = await fetchWithHandler('/Game?handler=MoveChip', { startX: chipPosition[0], startY: chipPosition[1], endX: x, endY: y, gameId: gameId });
                movingChip = false;
                chipPosition = [0,0]
                buttonElement.dataset.number = data.board[x][y]
                handlerText.innerText = data.message
                updateBoard(data.board)
            } else {
                const data = await fetchWithHandler('/Game?handler=Click', { x: x, y: y, gameId: gameId });
                console.log(data);
                buttonElement.dataset.number = data.board[x][y]
                buttonElement.innerText = data.board[x][y] === 1 ? 'X' : data.board[x][y] === 2 ? 'O' : '';
            }
        }

        async function handleMoveBoard (direction) {
            const data = await fetchWithHandler('/Game?handler=MoveBoard', { direction: direction, gameId: gameId });
            updateMovableGrid(data.gridX, data.gridY)

            if (data.message) {
                handlerText.innerText = data.message;
            }
}

        function updateBoard(board) {
            cells.forEach(cell => {
                const x = +cell.dataset.x;
                const y = +cell.dataset.y;
                cell.innerText = board[x][y] === 1 ? 'X' : board[x][y] === 2 ? 'O' : '';
            });
        }


        function updateMovableGrid(gridX, gridY) {
            movableGrid.style.left = `${gridX * 80}px`;
            movableGrid.style.top = `${gridY * 80}px`;

            cells.forEach(cell => {
                const x = +cell.dataset.x;
                const y = +cell.dataset.y;
                const isWithinGrid = x >= gridY && x < gridY + 3 && y >= gridX && y < gridX + 3;
                cell.disabled = !isWithinGrid;
            });
        }

        function checkForWin(win) {
            if (win === 1) {
                handlerText.innerText = "Player 1 wins!";
                disableAllButtons();
            } else if (win === 2) {
                handlerText.innerText = "Player 2 wins!";
                disableAllButtons();
            } else if (win === 3) {
                handlerText.innerText = "It's a draw!";
                disableAllButtons();
            }
        }

        function disableAllButtons() {
            disableAllCells();
            disableMoveButtons();
        }
        
        function disableAllCells(){
            cells.forEach(cell => {
                cell.disabled = true;
            });
        }
        
        function disableMoveButtons() {
            moveButtons.forEach(btn => {
                btn.disabled = true;
            })
        }
        
        function enableMoveButtons() {
            moveButtons.forEach(btn => {
                btn.disabled = false;
            })
        }

        function showOptions(player1Options, player2Options){
            if (player1Options && playerNumber === 1 || player2Options && playerNumber === 2) {
                enableMoveButtons()
            } else {
                disableMoveButtons()
            }
        }
    </script>
}
