@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.GameOnline

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="SaveName">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Would you like to give a name for save?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="gameId" value="@Model.StateId">
                    <input type="text" name="name" class="form-control" placeholder="Type here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h1>Tic-Tac-Two Online</h1>

    <!-- Save and Back to Menu Button -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 justify-content-end mt-2 mb-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Save and back to Menu
        </button>
    </div>
    @if (Model.Session.Player2Id == null)
    {
        <h1>Waiting for second player. Send this id below, so they can connect)</h1>
        <p>@Model.SessionId</p>
    }
    else if (Model.GameBrain.win == 3)
    {
        <h1>It's a draw</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Save and back to Menu
        </button>
    }
    else if (Model.GameBrain.win == 1 || Model.GameBrain.win == 2)
    {
        <h1>Player @Model.GameBrain.win wins!</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Save and back to Menu
        </button>
    }
    else
    {
        <div id="message-container">
            <p class="handler-text">@Model.Message</p>
        </div>

        <!-- Game Board -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex flex-wrap position-relative" style="width:@(Model.GameBrain.boardWidth * 80)px; position: relative;">

                    @for (int i = 0; i < Model.GameBrain.boardHeight; i++)
                    {
                        for (int j = 0; j < Model.GameBrain.boardWidth; j++)
                        {
                            bool isInsideMovableGrid = i >= Model.GameBrain.gridY && i < Model.GameBrain.gridY + 3 &&
                                                       j >= Model.GameBrain.gridX && j < Model.GameBrain.gridX + 3;

                            <button type="button"
                                    class="btn btn-outline-primary border game-cell"
                                    style="width: 80px; height: 80px; font-size: 24px;"
                                    data-x="@i"
                                    data-y="@j"
                                    data-number="@Model.GameBrain.board[i, j]"
                                    id="piece-@i-@j"
                                    @(isInsideMovableGrid ? "" : "disabled")
                                    onclick="handleCellClick(@i, @j, this)">
                                @if (Model.ConvertToList(Model.GameBrain.board)[i][j] == 1)
                                {
                                    @:X
                                }
                                else if (Model.ConvertToList(Model.GameBrain.board)[i][j] == 2)
                                {
                                    @:O
                                }
                            </button>
                        }
                    }

                    <!-- Movable Grid -->
                    <div class="movable-grid" style="width: 240px; height: 240px; border: 3px solid red; position: absolute; pointer-events: none;"></div>
                </div>

                <!-- Player Options -->
                <div class="options-container">
                    @if ((Model.GameBrain.playerNumber == 1 && Model.GameBrain.player1Options) || (Model.GameBrain.playerNumber == 2 && Model.GameBrain.player2Options))
                    {
                        <div class="mt-5">
                            <p>Player @Model.GameBrain.playerNumber, you can move the board (in directions below) or move your chip or place a chip</p>
                        </div>
                        <button class="move-btn btn btn-primary" data-direction="up">Up</button>
                        <button class="move-btn btn btn-primary" data-direction="down">Down</button>
                        <button class="move-btn btn btn-primary" data-direction="left">Left</button>
                        <button class="move-btn btn btn-primary" data-direction="right">Right</button>
                        <button class="move-btn btn btn-primary" data-direction="up-left">Up-Left</button>
                        <button class="move-btn btn btn-primary" data-direction="up-right">Up-Right</button>
                        <button class="move-btn btn btn-primary" data-direction="down-left">Down-Left</button>
                        <button class="move-btn btn btn-primary" data-direction="down-right">Down-Right</button>
                    }
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/js/gameFunctions.js" asp-append-version="true"></script>
    <script>
        const gameId = '@Model.StateId';
        const movableGrid = document.querySelector(".movable-grid");
        const optionsContainer = document.querySelector(".options-container");

        if (optionsContainer.hasChildNodes()) {
            document.querySelectorAll('.move-btn').forEach(button => {
                button.addEventListener('click', (e) => {
                    handleMoveBoard(e.target.dataset.direction);
                });
            });
        }

        const handlerText = document.querySelector('.handler-text');
        const cells = document.querySelectorAll('.game-cell');
        let movingChip = false;
        let chipPosition = [0, 0];

        updateMovableGrid(@Model.GameBrain.gridX, @Model.GameBrain.gridY);
        
        
        let playerNumber = @Model.GameBrain.playerNumber;
        const playerRole = @ViewData["PlayerRole"];

        console.log("You are Player:", playerRole);
        console.log("Current turn is Player:", playerNumber);

        function checkTurn() {
            if (playerRole === playerNumber) {
                enableAllButtons();
                handlerText.innerText = "It's your turn!";
            } else {
                disableAllButtons();
                handlerText.innerText = "Wait for your opponent's move.";
            }
        }

        checkTurn();


        async function fetchGameState() {
            try {
                const response = await fetch('/Game?handler=GetState', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ gameId: gameId })
                });
                const data = await response.json();

                updateBoard(data.board);
                updateMovableGrid(data.gridX, data.gridY);
                showOptions(playerNumber)

                playerNumber = data.playerNumber;
                checkTurn();

                if (data.win) {
                    checkForWin(data.win);
                }
            } catch (error) {
                console.error('Error fetching game state:', error);
            }
        }
        setInterval(fetchGameState, 2000);

        async function handleCellClick(x, y, buttonElement) {
            const number = +buttonElement.dataset.number;

            if (number === playerNumber) {
                movingChip = true;
                chipPosition = [x, y];
                buttonElement.dataset.number = 0;
                handlerText.innerText = "Move chip somewhere";
            } else if (movingChip) {
                const data = await fetchWithHandler('/Game?handler=MoveChip', { startX: chipPosition[0], startY: chipPosition[1], endX: x, endY: y, gameId: gameId });
                movingChip = false;
                chipPosition = [0, 0];
                buttonElement.dataset.number = data.board[x][y];
                handlerText.innerText = data.message;
                updateBoard(data.board);
            } else {
                const data = await fetchWithHandler('/Game?handler=Click', { x: x, y: y, gameId: gameId });
                buttonElement.dataset.number = data.board[x][y];
                buttonElement.innerText = data.board[x][y] === 1 ? 'X' : data.board[x][y] === 2 ? 'O' : '';
            }
        }

        async function handleMoveBoard(direction) {
            const data = await fetchWithHandler('/Game?handler=MoveBoard', { direction: direction, gameId: gameId });
            updateMovableGrid(data.gridX, data.gridY);

            if (data.message) {
                handlerText.innerText = data.message;
            }
        }

        async function fetchWithHandler(url, body) {
            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(body)
                });
                if (!response.ok) throw new Error(`Error ${response.status}: ${response.statusText}`);
                const data = await response.json();
                playerNumber = data.playerNumber;
                gridX = data.gridX;
                gridY = data.gridY;
                showOptions(playerNumber);
                if (data.message) {
                    handlerText.innerText = data.message;
                }
                checkForWin(data.win);
                return data;
            } catch (error) {
                console.error('Fetch error:', error);
                alert("Something went wrong, please try again.");
            }
        }

        function updateBoard(board) {
            cells.forEach(cell => {
                const x = +cell.dataset.x;
                const y = +cell.dataset.y;
                cell.innerText = board[x][y] === 1 ? 'X' : board[x][y] === 2 ? 'O' : '';
            });
        }

        function updateMovableGrid(gridX, gridY) {
            movableGrid.style.transform = `translate(${gridX * 80}px, ${gridY * 80}px)`;

            cells.forEach(cell => {
                const x = +cell.dataset.x;
                const y = +cell.dataset.y;
                const isWithinGrid = x >= gridY && x < gridY + 3 && y >= gridX && y < gridX + 3;
                cell.disabled = !isWithinGrid;
            });
        }

        function checkForWin(win) {
            if (win === 1) {
                handlerText.innerText = "Player 1 wins!";
                disableAllButtons();
            } else if (win === 2) {
                handlerText.innerText = "Player 2 wins!";
                disableAllButtons();
            } else if (win === 3) {
                handlerText.innerText = "It's a draw!";
                disableAllButtons();
            }
        }

        function disableAllButtons() {
            cells.forEach(cell => {
                cell.disabled = true;
            });
            document.querySelectorAll('.move-btn').forEach(btn => {
                btn.disabled = true;
            });
        }

        function enableAllButtons() {
            cells.forEach(cell => {
                cell.disabled = false;
            });
            document.querySelectorAll('.move-btn').forEach(btn => {
                btn.disabled = false;
            });
        }

        function showOptions(playerNumber) {
            if (playerNumber === playerRole) {
                optionsContainer.style.display = 'block';
            } else {
                optionsContainer.style.display = 'none';
            }
        }
    </script>
}
