@page
@model WebApp.Pages.NewGame

@{
    ViewData["Title"] = "New Game";
    ViewData["css-page"] = "new-game.css";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Home">Tic Tac Two</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Download">Download (Console version)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Configs/Index">About this project</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center ms-auto gap-3">
                    <b>Welcome back, @Model.Username</b>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Profile">
                        <button class="btn btn-primary"><i class="fa-solid fa-user"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="pb-3">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-5">
                <form method="post" class="container h-100 d-flex flex-column">
                    <div class="row">
                        <h3>Choose Game Mode:</h3>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3 d-flex flex-column">
                            <input type="radio" class="btn-check" asp-for="GameMode" id="two-players" value="two-players" autocomplete="off" checked>
                            <label class="btn" for="two-players">Local Game</label>

                            <input type="radio" class="btn-check" asp-for="GameMode" id="two-players-online" value="two-players-online" autocomplete="off">
                            <label class="btn position-relative" for="two-players-online">
                                Online Game
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-info">
                                Beta
                            </span>
                            </label>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex flex-column mb-3">
                            <input type="radio" class="btn-check" asp-for="GameMode" id="vs-ai" value="vs-ai" autocomplete="off" disabled>
                            <label class="btn position-relative" for="vs-ai">
                                vs AI
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">
                                Coming Soon
                            </span>
                            </label>


                            <input type="radio" class="btn-check" asp-for="GameMode" id="ai-vs-ai" value="ai-vs-ai" autocomplete="off" disabled>
                            <label class="btn position-relative" for="ai-vs-ai">
                                AI vs AI
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">
                                Coming Soon
                            </span>
                            </label>
                        </div>
                        <h3>Choose Game Configuration:</h3>
                        @foreach (var configDto in Model.GameConfigs)
                        {
                        <div class="col-12">
                            <input type="radio" class="btn-check" asp-for="ConfigId" id="@configDto.ConfigId" value="@configDto.ConfigId" autocomplete="off">
                            <label class="btn" for="@configDto.ConfigId">@configDto.ConfigName</label>
                        </div>
                        }
                        <div class="col-12 mt-5">
                            <button type="submit" class="btn btn-primary">Start Game</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-8 d-flex align-items-center justify-content-center mt-5">
                <img src="img/animation.gif" width="400" height="400" alt="animation" id="home-animation">
            </div>
        </div>
    </div>
</main>