@page
@model WebApp.Pages_Configs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameConfigurationDB[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConfigurationDB[0].BoardSizeWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConfigurationDB[0].BoardSizeHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConfigurationDB[0].MovableBoardWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConfigurationDB[0].MovableBoardHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConfigurationDB[0].ChipsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConfigurationDB[0].WinCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConfigurationDB[0].OptionsAfterNMoves)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameConfigurationDB) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardSizeWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardSizeHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovableBoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovableBoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChipsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionsAfterNMoves)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
